<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873498289916-ageh99vh9h8p7086dra4525gcegfcu05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873498289916-ageh99vh9h8p7086dra4525gcegfcu05</string>
	<key>API_KEY</key>
	<string>AIzaSyCW2pNWygVmEwEZUCaU12uamrsGej8zJNE</string>
	<key>GCM_SENDER_ID</key>
	<string>873498289916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>meatlanosrep.DemoChatApp</string>
	<key>PROJECT_ID</key>
	<string>demochatapp-beb4c</string>
	<key>STORAGE_BUCKET</key>
	<string>demochatapp-beb4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873498289916:ios:2060cfcbc80ca8171fd979</string>
</dict>
</plist>